

@import url('https://fonts.googleapis.com/css2?family=Prosto+One&display=swap');


body {
    font-family: "Pretendard-Regular";
}

.page-container {
    width: 1280px;
    height: 832px;
    margin: 0 auto;
}