.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.logo {
    text-decoration: none;
    font-weight: 600;
    font-size: 30px;
    color: #000000;
}

.navbarMenu {
    margin-left: 50px;
}

.navbarMenuItem {
    text-decoration: none;
    margin-right: 25px;
    font-size: 20px;
    color: #000000;
}