.container {
    margin-top: 40px;
    width: 460px;
}

.containerItem {
    margin-bottom: 30px;
    height: auto;
    outline: 2px solid #DFDFDF;
    border-radius: 6px;
    
    display: flex;
    flex-direction: column;
}

.inputContainer {
    border-bottom: 2px solid #DFDFDF;
    padding: 10px;
    display: flex;
    align-items: center;
}


.lastInputContainer {
    border-bottom: none;
    padding: 10px;
    display: flex;
    align-items: center;
}

.inputItemImg {
    width: 25px;
    height: 25px;
}

.inputItem {
    width: 400px;
    padding-left: 10px;
    font-size: 13px;
    border: none;

    &:focus {
        outline: none;
    }    
}

.checkButton {
    width: 70px;
    height: 30px;
    margin-left: 120px;
    border-radius: 30px;
    font-size: 12px;
    color: #a0a0a0;
    background-color: #ffffff;
    border: 1px solid #dcdcdc;
  }
  
  .checkButton:hover {
    background-color: #f9f9f9;
    color: #727272;
  }