.button {
    width: 460px;

    min-height: 45px;
    background-color: #D9D9D9;
    border-radius:8px;
    border: none;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.button:hover {
    background-color: #6c757d;
    color: #FFFFFF;
}