.container {
    margin-top: 50px;
    width: 460px;
}

.containerItem {

    margin-bottom: 30px;
    height: auto;
    outline: 2px solid #DFDFDF;
    border-radius: 6px;
    
    display: flex;
    flex-direction: column;
}

.inputContainer {
    border-bottom: 2px solid #DFDFDF;
    padding: 10px;
    display: flex;
    align-items: center;
}


.lastInputContainer {
    border-bottom: none;
    padding: 10px;
    display: flex;
    align-items: center;
}

.inputItemImg {
    width: 25px;
    height: 25px;
}

.inputItem {
    width: 400px;
    padding-left: 10px;
    font-size: 13px;
    border: none;

    &:focus {
        outline: none;
    }    
}
