<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link th:href="@{/css/bootstrap.min.css}"
          href="../../../static/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .container {
            max-width: 560px;
        }
    </style>

    <title>Waggle🐾</title>

</head>
<body>

<div class="container">
    <div class="row justify-content-center text-center">
        <a href="/" style="text-decoration: none; color: inherit;">
            <h3 style="margin-top: 30px; margin-left: 20px">Waggle 🐶</h3>
        </a>
    </div>

    <div class="py-5 text-center">
        <h2>로그인</h2>
    </div>

    <form th:action="@{/member/sign-in}" th:object="${signInDto}" method="post">
        <div>
            <label for="username">아이디</label>
            <input type="text" id="username" th:field="*{username}" class="form-control" placeholder="아이디를 입력해주세요.">
        </div>
        <div>
            <label for="password">비밀번호</label>
            <input type="password" id="password" th:field="*{password}" class="form-control"
                   placeholder="비밀번호를 입력해주세요.">
        </div>

        <hr class="my-4">

        <div class="row">
            <div class="col">
                <button class="w-100 btn btn-primary btn-lg" type="submit">로그인</button>
            </div>

            <div class="col">
                <button class="w-100 btn btn-secondary btn-lg"
                        th:onclick="|location.href='@{/}'|"
                        type="button">취소
                </button>
            </div>
        </div>

        <hr class="my-4">

        <a href="/member/sign-up">회원가입</a>
    </form>

</div>
</body>
</html>