<div th:fragment="fragment-header">

    <link rel="stylesheet" href="/css/header.css">
    <div class="header">
        <a href="/" style="text-decoration: none; color: inherit;">
            <h1 class="logo">Waggle</h1>
        </a>

        <div class="menubar">
            <a href="/" style="text-decoration: none; color: inherit;">
                <h4>Q&A</h4>
            </a>
            <a href="/" style="text-decoration: none; color: inherit;">
                <h4>일정</h4>
            </a>
            <a href="/" style="text-decoration: none; color: inherit;">
                <h4>지도</h4>
            </a>
            <a href="/" style="text-decoration: none; color: inherit;">
                <h4>마이페이지</h4>
            </a>
        </div>

    </div>

</div>