<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link th:href="@{/css/bootstrap.min.css}" href="../../../static/css/bootstrap.min.css" rel="stylesheet">
    <title>Waggle</title>

</head>
<body>
<th:block th:replace="fragments/searchHeader.html :: fragment-searchHeader"></th:block>
<div class="container">
    <div class="error">
        <div class="message" th:text = "${errorMessage.message}">
            message
        </div>
    </div>
</div>
</body>
</html>