.header {
    display: flex;
    align-items: center;
    margin: 50px 100px 30px;
    max-width: 100%;
}

.header h4 {
    margin-top: 5px;
    margin-left: 40px;
}

.header h4:hover {
    color: #7C9EBF;
}