.profile-picture-container {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    margin-left: 10px;
}

.profile-picture {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.user-name, .user-email {
    margin: 0;
}

.user-name {
    font-weight: bold;
}

.user-email {
    font-size: 12px;
}


.user-info {
    display: flex;
    align-items: center;
}

.user-info .col-auto:last-child {
    margin-left: auto;
}

.logout-btn {
    margin-left: 10px;
}