.container {
    display: grid;
    grid-template-columns: 70% 30%;
    grid-gap: 50px;
    margin-top: 50px;
    margin-left: 100px;
    max-width: 80%;
}
.grid-container {
    grid-column: 1;
    margin-left: 100px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
}
.profile {
    grid-column: 2;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
}