<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link th:href="@{/css/bootstrap.min.css}"
          href="../../../static/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .container {
            max-width: 560px;
        }
    </style>

    <title>Waggle🐾</title>

</head>
<body>

<div class="col">
    <button class="w-100 btn btn-secondary btn-lg"
            th:onclick="|location.href='@{/member/sign-up}'|"
            type="button">회원가입
    </button>
    <button class="w-100 btn btn-secondary btn-lg"
            th:onclick="|location.href='@{/member/sign-in}'|"
            type="button">로그인
    </button>
</div>

<div class="col">
    <button class="w-100 btn btn-secondary btn-lg"
            th:onclick="|location.href='@{/story/write}'|"
            type="button">스토리 등록
    </button>
</div>

</body>
</html>