# .ebextensions/01-ebs-extend.config
commands:
  01_mount_tmpfs:
    command: "sudo mount -o size=10M,rw,nodev,nosuid -t tmpfs tmpfs /tmp"

  02_grow_partition:
    command: "sudo growpart /dev/nvme0n1 1"
    ignoreErrors: true

  03_resize_filesystem:
    command: |
      if [ "$(lsblk -f | grep nvme0n1p1 | awk '{print $2}')" = "xfs" ]; then
        sudo xfs_growfs /
      else
        sudo resize2fs /dev/nvme0n1p1
      fi
    ignoreErrors: true

  04_unmount_tmpfs:
    command: "sudo umount /tmp"
    ignoreErrors: true
