commands:
  01_mount_tmpfs:
    command: "sudo mount -o size=10M,rw,nodev,nosuid -t tmpfs tmpfs /tmp"

  02_grow_partition:
    command: "sudo growpart /dev/nvme0n1 1"
    ignoreErrors: true

  03_resize_filesystem:
    command: |
      if [ "$(lsblk -f | grep nvme0n1p1 | awk '{print $2}')" = "xfs" ]; then
        sudo xfs_growfs /
      else
        sudo resize2fs /dev/nvme0n1p1
      fi
    ignoreErrors: true

  04_create_new_partition:
    command: |
      echo -e "n\np\n2\n\n+20G\nw" | sudo fdisk /dev/nvme0n1
    ignoreErrors: true

  05_format_new_partition:
    command: "sudo mkfs.ext4 /dev/nvme0n1p2"
    ignoreErrors: true

  06_unmount_tmpfs:
    command: "sudo umount /tmp"
    ignoreErrors: true