commands:
  01_create_directory:
    command: "mkdir -p /mnt/ebs"

  02_check_device:
    command: "lsblk | grep nvme0n1"
    ignoreErrors: false

  03_mount_volume:
    command: "sudo mount /dev/nvme0n1p1 /mnt/ebs"
    ignoreErrors: false

  04_change_permissions:
    command: "sudo chown -R ec2-user:ec2-user /mnt/ebs"