commands:
  01_create_directory:
    command: "mkdir -p /mnt/mongodb_data"

  02_check_device:
    command: "lsblk | grep nvme0n1p2"
    ignoreErrors: false

  03_mount_volume:
    command: "sudo mount /dev/nvme0n1p2 /mnt/mongodb_data"
    ignoreErrors: false

  04_change_permissions:
    command: "sudo chown -R ec2-user:ec2-user /mnt/mongodb_data"

  05_add_fstab_entry:
    command: "echo '/dev/nvme0n1p2 /mnt/mongodb_data ext4 defaults 0 0' | sudo tee -a /etc/fstab"
    ignoreErrors: true
